body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}



ul {
  list-style-type: none;
}

address:hover,
address:focus {
  color: #404bbf;
}

.logo{
  font-weight:700;
  font-size: 18px;
  line-height:1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.studio-logo{
  color: #2e2f42;
}
.link{
  color: #2E2F42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus{
  color:#404bbf;
}



.top-section,
.footer {
  background-color: #2e2f42;
}

.address{
  font-style: normal;
}

.address-link{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;

}

.address-link:hover,
.address-link:focus{
  color:#404bbf;
}

.top-title{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  cursor: pointer;
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.button:hover,
.button:focus{
  background-color: #404BBF;
}

section h2{
  letter-spacing: 0.02em;
}

.image{
  background-color: #FFFFFF;
}

.title-qualities{
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color:#2e2f42;
}
.qualities-description{
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
.our-team {
  background-color: #f4f4fd;
}

.our-team-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2E2F42;
}

.our-team .title-qualities{
  background-color:#ffffff;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2E2F42;

}

.our-team .qualities-description{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.our-portfolio-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2E2F42 ;
}

.our-portfolio-example{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2E2F42;
}

.our-portfolio-description{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
}


.footer-paragraph{
  line-height: 1.5;
  color:#F4F4FD ;
  letter-spacing: 0.02em;
}

.footer .studio-logo{
  color:#f4f4fd ;
}