body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1 {
  font-size: 56px;
  line-height: 1.071;
  font-weight: 700;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  line-height: 1, 111;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 1, 2;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 1, 5;
}

ul {
  list-style-type: none;
}

address:hover,
address:focus {
  color: #404bbf;
}

.top-title,
footer {
  background-color: #2e2f42;
}

footer p {
  color: #f4f4fd;
}


button {
  cursor: pointer;
}

.our-team {
  background-color: #f4f4fd;
}




